@{
    ViewData["Title"] = "Login";
}

<form asp-controller="Login" asp-action="Logar" method="post">
    <div>
        <label>Nome Usuário</label>
        <input type="text" name="username" />
    </div>

    <div>
        <label>Senha</label>
        <input type="password" name="senha" placeholder="***" />


        <input type="submit" value="Enviar" />
    </div>
</form>